<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAF400CB1E0DC8130005C06E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF400DF1E0DC8140005C06E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF400EA1E0DC8140005C06E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
